.bouton {
    padding-left : 20px;
    padding-right:20px;
    border-radius: 5px;
    height:40px;
    border :0;
    background: rgb(2,0,36);
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 7%, rgba(0,212,255,1) 100%);
    color:#e1e1e1;
}